# Node
node_modules/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

uv.lock

tests/__pycache__
tests/__pycache__/*
src/mcp_terminal/__pycache__
src/mcp_terminal/__pycache__/*